<div>
  <div class="row text-center" id="landing1">
    <div class="row">
      <span id="p1" class="{{this.translate.currentLang}}">{{"우리아이의 정확한 진단, 고민이시죠?"|translate}}</span>
    </div>
    <div class="row">
      <span id="p2">{{"복잡하고 어려운 시험,"|translate}}<br/>{{"AI와 함께하면 쉬워집니다."|translate}}</span>
    </div>
  </div>
  <div class="row text-center">
    <div id="landing2">
      <div class="row">
        <span id="p3">{{"우리 아이의 영어 실력은 어디쯤?"|translate}}</span>
      </div>
      <div class="row">
        <span id="p4">{{"인공지능을 기반으로 누적된 시험 데이터를 통해"|translate}}<br/>{{"자녀의 영어 실력이 상위 퍼센트인지 확인해보세요."|translate}}</span>
      </div>
      <img src="assets/img/landing_main22.png">
    </div>
  </div>
</div>
<a routerLink="/signup" id="signup" class="text-center">{{ "회원가입 후 테스트 시작하기" | translate }}</a>