#bottom-akaintelligence {
    font-family: AppleSDGothicNeoR;
    color: white;
    margin-right: 60px;
    margin-top: 12px;
}

#bottom {
    background: #2a34b2;
    padding-top: 40px;
    padding-bottom: 38px;
    vertical-align: middle;
}

#aka-logo {
    margin-left: 60px;
}